.product-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.product-image {
  height: 100px; /* Set a fixed height */
  background-color: #f3f3f3; /* Placeholder color */
  margin-bottom: 10px;
}

.product-image img {
  max-height: 100px; /* Ensures the image height does not exceed the container's height */
  max-width: 100%; /* Ensures the image width does not exceed the container's width */
  width: auto; /* Maintains the image's aspect ratio */
  height: auto; /* Maintains the image's aspect ratio */
  display: block; /* Prevents default inline behavior that includes extra space below the image */
  margin: 0 auto; /* Centers the image horizontally if it's not as wide as the container */
}

.product-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
